
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #48E0F9, #409CDB, #5288F2);
}
.content{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    background-color:#A6C3FF;
    padding: 25px;
}
.content h2{
    text-align: center;
}
.campo{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px;
}
.campo input{
    width: 100%;
    height: 100%;
}
input:focus{
   color: #404BDB;
   font-size: 20px;
}
.campo .add{
    width: 30px;
    border-radius: 3px;
    border: none;
    background-color: #197AFA;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
.add:hover{
    transform: scale(1.3);
    background-color: white;
    border: 1px solid #197AFA;
    color: #197AFA;
}
.lista{
  
    width: 100%;
}
.lista li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
    background-color: #979DE8;
    list-style: none;
    color: black;
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 4px;
}



.btnr{
    background-color: #197AFA;
    position: absolute;
    right: 0px;
    width: 30px;
    height: 25px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: all 1.5s;
}
.btnr:hover{
    color: red;
    font-size: 20px;
    border: 1px solid red;
    background-color: white;
}
footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #3D3AFF;
}
#clear{
    background-color: #197AFA;
    position: relative;
    right: 0px;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 10px;
    display: none;
}
#clear:hover{
    color: red;
    font-size: 10px;
    border: 1px solid red;
    background-color: white;
}

